.sint {
  background-color: rgb(252, 232, 173);
  min-height: 100vh;
  color: white;

  h1,
  h2 {
    color: rgb(255, 70, 49);
    text-shadow: 2px 0 rgb(240, 37, 15);
  }

  .card {
    background-color: rgb(255, 70, 49);
    box-shadow: 3px 0px rgb(240, 37, 15);

    &:nth-child(3n + 2) {
      background-color: rgb(255, 145, 49);
      box-shadow: 3px 0px rgb(248, 120, 8);
    }
    &:nth-child(3n + 3) {
      background-color: rgb(255, 210, 87);
      box-shadow: 3px 0px rgb(255, 195, 29);
    }
  }
}
