@font-face {
  font-family: "silkscreen";
  src: local("Silkscreen"),
    url("./assets/fonts/Silkscreen-Bold.ttf") format("truetype");
  font-weight: 100 800;
}

@font-face {
  font-family: "space-grotesk";
  src: local("SpaceGrotesk"),
    url("./assets/fonts/SpaceGrotesk.ttf") format("truetype");
  font-weight: 100 800;
}

$colourTypes: (
  ("dark-green", #001622),
  ("coral-pink", #71a8ff),
  ("persian-red", #3b5c92),
  ("eggplant", #720021),
  ("ivory", #eaf3ff),
  ("ash-gray", hsl(201, 100%, 82%)),
  ("tomato", hsl(217, 100%, 62%)),
  ("burnt-umber", hsl(217, 42%, 30%)),
  ("dark-purple", hsl(343, 100%, 12%))
);

:root {
  @each $type, $colour in $colourTypes {
    --colour-#{$type}: #{$colour};
    --colour-#{$type}-transparent: #{rgba($colour, 0.2)};
  }

  font-size: 16px;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "space-grotesk";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--colour-dark-green);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--colour-coral-pink);
  min-height: 100vh;
}

h1,
h2 {
  color: var(--colour-coral-pink);
  text-shadow: 2px 0 var(--colour-persian-red);
  font-weight: 900;
  letter-spacing: 0.03em;
}

h1 {
  font-size: 2.5em;
  font-family: "silkscreen";
  text-shadow: var(--colour-persian-red) 5px 2px;
}

h2 {
  font-size: 1.2em;
  font-family: "space-grotesk";
  text-transform: uppercase;
}

p {
  font-size: 16px;
}

.page {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-height: 100vh;
  overflow: scroll;
  gap: 1em;
}

.title-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards-container {
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1.25em;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-basis: 100%;

  .card {
    position: relative;
    width: 150px;
    min-height: 300px;
    height: auto;
    background-color: var(--colour-coral-pink);
    box-shadow: 6px 0px var(--colour-tomato);
    text-decoration: none;
    transform: scale(0.95);
    border-radius: 24px;

    &:nth-child(3n + 2) {
      background-color: var(--colour-persian-red);
      box-shadow: 6px 0px var(--colour-burnt-umber);
    }

    &:nth-child(3n + 3) {
      background-color: var(--colour-eggplant);
      box-shadow: 6px 0px var(--colour-dark-purple);
    }

    .icons-container {
      position: absolute;
      width: 100%;
      top: -1em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      z-index: 99;

      .icon-container {
        line-height: 0;
        padding: 0.5em;
        border-radius: 9999px;
        // background-color: var(--colour-ash-gray);
        background: linear-gradient(45deg, #da9e43, #fcce80, #da9e43),
          url("https://www.transparenttextures.com/patterns/gold-scale.png");
        background-blend-mode: overlay;
        background-size: cover;

        svg {
          // fill: hsl(82, 11%, 46%);
          fill: #8b5a10;
        }
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 1em;
      color: var(--colour-ivory);
      text-align: center;
      font-weight: 500;
      height: 100%;

      .image-container {
        display: flex;
        max-width: 100%;
        height: 175px;
        overflow: hidden;
        background-color: #bdc6ab;
        border-radius: 24px;

        img {
          object-fit: cover;
          object-position: center center;
          width: 100%;
          transition: 0.25s ease;
          transform: scale(1);
        }
      }

      &:hover {
        .image-container {
          img {
            border: 1px solid blue;
            transform: scale(1.1);
          }
        }
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1em;
        text-shadow: var(--colour-tomato) 1px 1px;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 3.5em;
  }

  .card {
    width: 200px;
    height: 350px;

    .card-content {
      // .image-container {
      // height: 225px;
      // clip-path: circle(105% at 50% 0);
      // }

      p {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .page {
    flex-wrap: nowrap;
  }

  .title-container {
    flex-basis: 33%;
    justify-content: flex-end;
    align-items: flex-start;
    position: sticky;
    text-align: start;
    top: 0;
  }
  .cards-container {
    flex-basis: calc(66% - 1em);
    justify-content: flex-start;
  }
}
